/* general rules */
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

/* header */
header {
    height: 120px;
    line-height: 120px;
    margin-bottom: 30px;
}

h1 {
    color: #e53170;
    text-align: center;
}

/* main */
p {
    text-align: center;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.row {
    margin: 50px 0;;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

.col {
    width: calc(100% / 3);
    float: left;
}

.col.left {
    padding-right: 20px;
}

.col.center {
    padding: 0 20px;
}

.col.right {
    padding-left: 20px;
}

.card{
    background-color: black;
    width: 100%;
}

.card::after {
    content: " ";
    display: table;
    clear: both;
}

img {
    height: 100px;
    vertical-align: middle;
}

.info {
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin-left: 10px;
}

.info span {
    display: inline-block;
    margin: 5px 0;
}

a {
    text-decoration: none;
    color:#0397d9;
}